
footer, header, nav, section {
  display: block; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 33px 30px 30px 30px;
  font-size: 14px;
  line-height: 1.231;
  position: relative;
  min-width: 800px;
  background-color: #FCF6CF;
  /**background: url("back1.png") no-repeat center center fixed;*/
}

.background-image{
        position: relative;
        z-index: -1;
}


body, button, input, select, textarea {
  font-family: 'Apercu Regular', sans-serif;
  color: #80CC80; }

#rightcol {
  margin-left:  75%;
    margin-top:-9%;

}



#leftcol {
  margin-left: 15%;
}

#container{
    margin-top:10%
}

a{
    color: #80CC80;
}

.bg_stretch {
  left: 0;
  margin-top: -50%;
  min-width: 940px;
  position: fixed;
  top: 100%;
  width: 100%;
  z-index: -111;
  height: auto;
   }
   
/** rightcol.clear {clear:both; }*/

a:visited {
  color: #80CC80;
  text-decoration: underline; }
  a:hover,
  a:visited:hover {
    cursor: pointer; }
  a:hover, a:active,
  a:visited:hover,
  a:visited:active {
    outline: 0; }
  a:focus,
  a:visited:focus {
    outline: thin dotted; }

h1 {
  margin: 0;
  font: 400 88px/71px mad, sans-serif;
  -webkit-font-smoothing: auto;
  text-decoration: none;
  /*  -webkit-font-smoothing: subpixel-antialiased;*/
  /*  -webkit-font-smoothing: antialiased;*/ }

h2 {
  font: 29px "Apercu Bold", sans-serif; }

h2, p {
  -webkit-font-smoothing: antialiased; }

h3 {
  font: 24px "Apercu Bold", sans-serif; 
  padding-bottom: 1em;
}

.cmn-t-border-radius {
  padding: 20px 40px;
  color: #CD853F;
  background-color: #F1EDC2;
  /* transition: border-radius 0.2s; */
}
.cmn-t-border-radius:hover {
  color: #CD853F;
  border-radius: 40px;
}

h3, p {
  -webkit-font-smoothing: antialiased; }

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }


.top-right-menu {
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 30px; }
  .top-right-menu ul {
    list-style: none; }
  .top-right-menu li,
  .top-right-menu a {
    float: left;
    display: block; }
  .top-right-menu li {
    margin: 0 0 0 30px; }
  .top-right-menu a {
    text-decoration: none;
    border-bottom: 2px solid #80CC7F; }

.content-header {
  margin: 0 0 20px 0; }
  .safari .content-header h1 {
    font-family: madsafari, sans-serif;
    margin: 0; }
  .content-header h1 {
    font-family: mad, sans-serif;
    margin: 0; }
  .content-header a {
    margin: 10px 0; }
